html {
  font-family: "Abhaya Libre", serif;
}

.nav {
  background-color: #423ca3;
  text-align: center;
}

.logo {
  color: #fff;
  background-color: #423ca3;
  text-align: center;
}

.masthead {
  background-color: #15114c;
  border: 3px solid #15114c;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.masthead:hover {
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 10px;
  color: #423ca3;
}

@media only screen and (min-width: 60em) {

  .logo {
    color: #fff;
    background-color: #423ca3;
    text-align: left;
  }

  .masthead {
    background-color: #15114c;
    border: 3px solid #15114c;
    border-radius: 10px;
    text-align: center;
  }

  .nav {
  background-color: #423ca3;
  text-align: right;
  }

  nav a:hover {
  background-color: #423ca3;
  text-align: right;
  }
}

*be happy*
